header{
    background-color: aqua;
}

.hero{
    background-color: aquamarine;
}

.segundosection{
    background-color: blue;
}

.tercersection{
    background-color: blueviolet;
}

.cuartosection{
    background-color: brown;
}

.quintosection{
    background-color: crimson;
}

.sextosection{
    background-color: darkred;
}
