@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville:wght@700&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}

/*Comienzo del header*/
header{
    background-color: #202020;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
    align-items: center;
}

.logo{
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    color: #fec600;
    margin-left: 2em;
}

.menu{    
    margin-left: 15em;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 2.5em;
    font-family: 'Poppins', sans-serif;
}
/*Fin del header*/

/*Comienzo del hero*/
.hero{
    background-color: #202020;
    display: flex;
    padding-top: 4em;  
}

.titulo{
    display: flex; 
    margin-left: 10em;
    margin-top: 20em;
}

.lineaizq{
    border-left: 5px solid #f3f4f5;
    height: 5em;
    position: absolute;
    left: 7.5em;
    margin-right: none;
    padding-right: none;
    bottom: 12em;
}

.presentacion h1{ 
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #f3f4f5;
}

.presentacion p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #fec600;
}

.buttonhero{
    padding: .7em 1.9em;
    border: 3px solid #fec600;
    background-color: #202020;
    color: #f3f4f5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-top: 2em;
}

.redes{
    margin-top: 8em;
    margin-left: 5em;
    justify-content: space-around;
}

.twitter{
    color: #202020;
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;
    background-color: #f3f4f5;
    padding: .2em;
}

.github{
    color: #202020;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: #f3f4f5;
    padding: .2em;
}

.facebook{
    color: #202020;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: #f3f4f5;
    padding: .2em;
}

.instagram{
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;
    background-color: #f3f4f5;
    padding: .3em;
}

.mia{
    height: 48em;
    width: 43em;
    margin-left: 6em;
}

.derechahero{
    flex-direction: column;
}

.treslineas{
    margin-top: 16em;
}

.hr1{
    border: none;
    width: 2em;
    border-left: 4px solid #fec600;
    height: 3em;
    margin-bottom: 1.5em;
}   

hr{
    border: none;
    width: 2em;
    border-left: 4px solid #253444;
    height: 3em;
    margin-bottom: 1.5em;
}

.view{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #f3f4f5;
    font-size: .8em;
    margin-top: 8em;
    writing-mode:vertical-lr;
    transform: rotate(-180deg);
}

.flecha{
    width: 1.5em;
    height: 5em;
    transform: rotate(-270deg);
}
/*Fin del hero*/

/*Comienzo del segundo section*/
.segundosection{
    background-image: linear-gradient(to right,#27292a, #373938);
    padding-top: 7em;
    padding-bottom: 7em;
}

.divsegundosection{
    display: flex;
}

.indicador h2{
    font-family: 'Poppins', sans-serif;
    color: #fec600;
    font-size: 1.3em;
    letter-spacing: .0em;
    margin-top: .5em;
    writing-mode:vertical-lr;
    transform: rotate(-180deg);
    padding-top: 1em;
} 

.lineasegundo{
    border-left: 5px solid #f3f4f5;
    height: 5em;
    position: absolute;
    left: .8em;
    margin-right: none;
    padding-right: none;
    
}

.textosobremi p{
    font-family: 'Poppins', sans-serif;
    color: #f3f4f5;
    font-size: 1em;
    margin-left: 1.5em;
    width: 50%;
    line-height: 1.5em;
    margin-bottom: 1em;
}
/*Fin del segundo section*/

/*Comienzo del tercer section*/
.tercersection{
    background-image: linear-gradient(to right,#27292a, #373938);
    display: flex;
    padding-bottom: 10em;
}

.indicadortercero h2{
    font-family: 'Poppins', sans-serif;
    color: #fec600;
    font-size: 1.3em;
    letter-spacing: .1em;
    writing-mode:vertical-lr;
    transform: rotate(-180deg);
    margin-top: 2em;
    margin-bottom: 1em;
}

.lineatercero{
    border-left: 5px solid #f3f4f5;
    height: 5em;
    position: absolute;
    left: .8em;
    margin-right: none;
    padding-right: none;
}

.unotercero{
    margin-right: 2em;
}

.titulotercero h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #f3f4f5;
    margin-bottom: 1em;
}

.habilidades{
    display: flex;
}

.globe{
    width: 4em;
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}
.monitor{
    width: 4em;
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}
.tool{
    width: 4em;
    height: 4em;
    margin-top: 1em;
    margin-left: 1em;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #f3f4f5;
    margin: 1.5em 0 .5em 1em;
}

.diseño{
    background-color: #202020;
    margin-right: 2em;
    width: 22em;
}
 .diseño p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #f3f4f5;
    width: 90%;
    margin-left: 1em;
    margin-bottom: 2.5em;
 }

 .desarrollo{
    background-color: #202020;
    margin-right: 2em;
    width: 22em;
 }

 .desarrollo p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #f3f4f5;
    width: 90%;
    margin-left: 1em;
    margin-bottom: 2.5em; 
 }

 .arreglo{
    background-color: #202020;
    width: 22em;
 }

 .arreglo p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #f3f4f5;
    width: 90%;
    margin-left: 1em;
    margin-bottom: 2.5em;
 }
/*Fin del tercer section*/

/*Inicio del cuarto section*/
.cuartosection{
    background-image: linear-gradient(to right,#27292a, #373938);
    padding-bottom: 5em;
}

.datos{
    background-color: #202020;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 4em;
    padding-bottom: 4em;
}


.titulosdatos{
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    color: #fec600;
}

.datos p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #f3f4f5;
    margin-top: 1.5em;
}
/*Fin del cuarto section*/

/*Inicio del quinto section*/
.quintosection{
    background-color: crimson;
    display: flex;
}

.quintouno h2{
    font-family: 'Poppins', sans-serif;
    color: #fec600;
    font-size: 1.3em;
    letter-spacing: .1em;
    writing-mode:vertical-lr;
    transform: rotate(-180deg);
    margin-bottom: 1em;
}

.lineaquinto{
    border-left: 5px solid #f3f4f5;
    height: 5em;
    position: absolute;
    left: .8em;
    margin-right: none;
    padding-right: none;
}

.proyectos{
    display: flex;
}

.proyectos img{
    width: 5em;
    height: 6em;
}







.sextosection{
    background-color: darkred;
}

.septimosection{
    background-color: aquamarine;
}

footer{
    background-color: yellowgreen;
}